body {
 width: 650px;
 margin: 0 auto;
 background: #000;
 color: #FFF;
 font: 12px sans-serif;
}
h1 {
 font-size: 24px;
}
h2 {
 font-size: 18px;
 margin-top: 0;
}
a {
 color: #FFF;
}
a:focus,
a:hover {
 text-decoration: none;
}
table {
 margin-bottom: 10px;
 border-spacing: 0;
}
caption {
 margin-bottom: 10px;
 font-size: 14px;
 font-weight: bold;
 text-align: left;
}
th,
td {
 padding: 0 10px 0 0;
 text-align: left;
}
.planet {
 margin: 10px 0;
 padding: 20px 20px 20px 200px;
 border: 1px solid #FFF;
 background-position: 20px 20px;
 background-repeat: no-repeat;
}
.jupiter {
    background-image: url(jupiter.jpg);
}
.saturn {
 background-image: url(saturn.jpg);
}
.uranus {
 background-image: url(uranus.jpg);
}
.neptune {
 background-image: url(neptune.jpg);
}